//@import './variables.scss';
@import './config.scss';
@import './functions.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './reset.scss';
@import './border.scss';
@import './font.scss';
@import './flex.scss';
@import './map.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #ffffff;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{ 
  -webkit-appearance: none !important; 
}
/* chrome */
input[type="number"]{
  -moz-appearance:textfield;/* firefox */
}

.el-menu-item {
  .svg-icon {
    width: 1.6em;
    height: 1.6em;
  }
}

